<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.11paths.iDevicePaired.HelperTool</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iDevicePairedHelperTool</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;com.11paths.iDevicePaired.XPCService&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;Mac Developer: developers@11paths.com (L28R4R73D2)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>
